.key-offering-data {
    padding: 20px;
}
.key-offering-data {
    float: right;
    width: 50%;
    display: table;
    height: 100%;
    text-align: center;
    padding: 0 70px;
    transition: all 0.6s ease 0s;
}
.data-block {
    display: table-cell;
    vertical-align: middle;
}
.key-offering-data h3.data-block-title {
    color: #333;
    font-weight: 400;
    width: 100%;
    margin: 0;
}
.key-offering-data h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.key-offering-data h3.data-block-title-hover, .key-offering-data p, .read-more-icon {
    display: none;
}
@media screen and (max-width: 1400px)
{
.key-offering-data h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.key-offering-section:hover .read-more-icon {
    display: block;
    font-size: 35px;
    color: #fff;
}
[class^="icon-"]:before, [class*=" icon-"]:before, [class^="icon-"], [class*=" icon-"] {
    font-family: "CIPL";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-inverse {
    color: #28b6e7;
}

.block.block-bg-gradient, .block.block-bg-gradient:after {
 
    background-image: -o-linear-gradient(top, red, red);
  
}

.panel-body {
  border: 1px solid transparent;
} 

/* <-------------------------------flag css-------------------------------------------------------------> */

.partners-logo{background:#fff;padding:45px 0;margin:0 auto;}
.partner-logo-list{text-align:center;}
.partner-logo-list > li{display:inline-block;width:14%;}
.partner-logo-list > li img{width:99%}


.countryflag
{
	width:35px;
	height:45px;
}
/* <-------------------------------flag css-----------------------------------------------------------------> */
.containercolor1
{
	border:1px solid lightgray;
	
	padding:30px;
	margin-left:0px;
	margin-right:0px;
	width:100%;
}
.containercolor2
{
	border:1px solid lightgray;

	padding:30px;
	margin-left:0px;
	margin-right:0px;
	width:100%;
}
.containercolor3
{
	border:1px solid #2b2b2b;
	background-color:#0a2b3c;
	padding:30px;
	margin-left:0px;
	margin-right:0px;
	width:100%;
}
.containercolor4
{
	
	background-color:white;
	padding:30px;
	margin-left:0px;
	margin-right:0px;
	width:100%;
}
.containercolor5
{
	border:1px solid #2b2b2b;
	background-color:#0a2b3c;
	padding:30px;
	margin-left:0px;
	margin-right:0px;
	width:100%;
}
.containercolor6
{
	border:1px solid lightgray;
	background-color:#f8f8f8;
	padding:30px;
	margin-left:0px;
	margin-right:0px;
	width:100%;
  margin-bottom: 50px;
}


.containercolor7
{
	border:1px solid gray;
	background-color:lightgray;
	padding:30px;
	margin-left:0px;
	margin-right:0px;
	width:100%;
}
.text-weight-strong
{
	color:white;
	font-family: inherit;
	
}

p
{
	color:black;
	font-size: 16px;
   /* margin-left: -150px; */
    font-family: inherit;
}
}
.block-title
{
	color:black;
	text-align:center;
	font-weight: 400;
	font-family: inherit;
}
.color1
{ 
	text-align:center;
	color:black;
	font-weight:500;
	font-family: inherit;
	
}

.content
{
	color:black;
	font-family: inherit;
}

.content1
{
	color:black;
	font-family: inherit;
}
.h3,h3{
    font-weight: 100;
	color:black;
}
}
#highlighted {
  color: #ffffff; 
}
/*-------------------------------------------- our css start-------------------------------------------------*/
#bs-example-navbar-collapse-1 {
    margin-top: 10px;
}
.thumb {
    display: block;
	width: 100%;
	margin: 0;
}


.by-author {
	font-style: italic;
	line-height: 1.3;
	color: #aab6aa;
}

.featured-article {
	
	position: relative;
	margin-bottom: 1em;
}

.featured-article .block-title {
	bottom: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,0.7);
	padding: .5em;
	width: 100%;
	color: #fff;
}

.featured-article .block-title h2 {
	margin: 0;
}

.main-list {
	padding-left: .5em;
}

.main-list .media {
	padding-bottom: 1.1em;
	border-bottom: 1px solid #e8e8e8;
}


/*============================================our css end================================================*/

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    position: fixed;
	height:40px;
	margin-top: -20px;
	z-index:10000;
}


section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
/*===================================testimonial css start=================================================*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color:#ff5821;
}


    .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
    }
/*-------------------------------parsley---------------------------------------*/


#loginfirst 
{
    height: 35px;
    overflow: hidden;
    width: 95%;
    margin: 20px 0px -35px 15px;
    background-color: #c9342f;
    color: #fff;
    font-size: 14px;
    font-family: "Poppins",sans-serif;
    display: none;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 200;
}
a {
    color: #white;
    text-decoration: none;
}
#getstarted {
    padding: 0px;
}
.form-control:focus {
    border-color: #e67e22 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(230, 126, 34) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(230, 126, 34) !important;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #e67e22 !important;
    border-color: #fff !important;
}
#loginerrordiv .error, #regerrordiv .error , #forgoterrordiv .error, #feederrordiv .error, #contacterrordiv .error, #commenterrordiv .error{
  display: none;
  overflow:hidden;
}
#loginerrordiv .error.filled, #regerrordiv .error.filled , #forgoterrordiv .error.filled , #feederrordiv .error.filled, #contacterrordiv .error.filled , #commenterrordiv .error.filled {
  display: block;
  overflow:hidden;
  padding: 5px 0 10px 15px;
}
#loginerrordiv, #regerrordiv, #forgoterrordiv, #feederrordiv, #contacterrordiv, #commenterrordiv{
  height: 35px;
  overflow: hidden;
  width: 100%;
  margin: 0 0 -9px 15px;

}
#loginerrordiv h4, #regerrordiv h4, #forgoterrordiv h4, #feederrordiv h4, #contacterrordiv h4, #commenterrordiv h4{
  font-size:14px;
}
.parsley-required, .parsley-type, .parsley-range, .parsley-equalto {
  color: #fff;
}

.error h4{
  line-height: 0.1;
}

.error {
  background-color: #c9342f;
  color: #fff;
  display: none;
  text-align: left;
  width: 95%;
}
/*-----------------------------------------login form text field css -------------------------------------------*/



/*----------------------------------------------start blog details css-----------------------------------------*/

.blogboxrs
{
	margin:10px;
	border:1px #DADADA solid;
	border-radius:5px;
	box-sizing:border-box;
	background-color:#F3F3F3;
}
.blogrightsidebar
{
	width:100%;
	border-bottom:1px #DADADA solid;
	box-sizing:border-box;
	padding:10px 0px;
	text-align:center;
	text-shadow:1px 1px 0px #FFFFFF;
	text-transform:uppercase;
	 -webkit-user-select: none;
  	-moz-user-select: none;
 	-ms-user-select: none;
  	user-select: none;
}
.bloglist ul
{
	margin:10px;
	padding:10px;
	box-sizing:border-box;
}
.bloglist li
{
	list-style:none;
	margin:10px 0px;
}
.bloglist li a:hover
{
	text-decoration:underline;
}

.postcom .btn.btn-primary {
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 16px;
    margin: 5px 0px;
}
/*---------------------------------------------------end blog details css---------------------------------------*/

.feedbackbtn {
    position: fixed !important;
    right: -32px !important;
    bottom: 167px!important;
    height: 36px;
	float:right:
    /* margin-left: -30px; */
    /* margin-bottom: 10%; */
    z-index: 20000;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    border: 0px 0px 5px 5px;
}

#feedbackdiv
{
  float: right;
  width: 300px;
  height: 100%;
  z-index: 23100;
  padding-left: 5px;
  padding-right: 10px;
  background-clip: 'padding-box';
  border: 1px solid rgba(0,0,0,.2);
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#feedback-tab {
  float: left;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  width: 120px;
  height: 42px;
  margin-left: 0px;
  margin-top: 70px;
  padding-top: 51px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  border:0px 0px 5px 5px;
  z-index:23100;
}
#feedbackdiv textarea { resize: none; }


.carousel-indicators .active{ background: #31708f; } .content{ margin-top:20px; } .adjust1{ float:left; width:100%; margin-bottom:0; } .adjust2{ margin:0; } .carousel-indicators li{ border :1px solid #ccc; } .carousel-control{ color:#31708f; width:5%; } .carousel-control:hover, .carousel-control:focus{ color:#31708f; } .carousel-control.left, .carousel-control.right { background-image: none; } .media-object{ margin:auto; margin-top:15%; } @media screen and (max-width: 768px) { .media-object{ margin-top:0; } }



/*==============================================homepage css start============================================*/


.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* background-color: #080d15; */
    opacity: .7;
}

.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}



@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}


/*==============================================homepage css end============================================*/
.fa.fa-chevron-circle-right {
    right: 0;
}
.fa.fa-chevron-circle-left {
    left: 0;
}
.fa.fa-chevron-circle-right, .fa.fa-chevron-circle-left {
    margin-bottom: 1px;
    position: absolute;
    top: -30px;
    color:#FF7700;
}
.col-img-responsive02 span{
	color:#fff;
}
.col-img-responsive02 {
	
	display:none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    height: 100%;
    position: absolute;
    width: 100%;
}
.carousel-control{
width:5%;
}
.panel-body{
	position:relative;
	padding:0px;
}
.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    border-radius: 0;
    /* bottom: -15px; */
    color: #fff;
    position: relative;
    /* width: 100%; */
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.38);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.38);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.38);	
}

.btn-primary 
{
    background-color: #ff7700;
    border-color: #ff5821;
}

.panel-default
{
-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.38);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.38);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.38);
    border: medium none;
    border-radius: 0;
}

.panel-heading{
	/* padding:0px; */
	position:relative;
}
.panel-heading img{
	width:100%;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right{
    background-image: none;
}
.panel-group {
    margin-bottom: 20px;
    margin-top: 40px !important;
}
.form-group {
    margin-bottom: 15px;
    margin-left: 10px !important;
    margin-right: 10px!important;
    margin-top: 10px !important;
}
.text-center {
    text-align: center;
    margin-bottom: 10px !important;
}
/*==================================================tetimonial box cxss==========================================*/

.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    /* height: 300px; */
}


.wrappracontent
{
	  word-wrap: break-word !important;
}

/*================================footer link css=======================================================================*/
  .footerquicklink
  {
   padding-top:9px;
	font-size: 15px;
	font-weight:500;
  }
  .footerquicklink a
  {
   margin:0px 7px;
   
  }
.list-inline.list-unstyled img {
    width: 38px !important;
    height: 35px !important;
}
		.list-inline.list-unstyled i {
    font-size: 30px;
    vertical-align: middle;
    margin: 0px 0px 25px 4px;
}				 
/*===============================================css testimonial===========================================*/					 
						 
.testimonials blockquote {
  position: relative;
  background: white;
  min-height: 150px;
  margin-top: 20px;
  margin-bottom: 100px;
  border: 1px solid #ecedf1;
}
.testimonials blockquote:before {
 
  position: absolute;
  bottom: -10px;
  left: 50%;
 
  margin-left: -10px;
  border-top: 10px solid #ecedf1;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.testimonials blockquote:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -9px;
  border-top: 9px solid white;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}

.testimonials blockquote img {
  height: 50px;
  width: 50px;
  position: absolute;
  border: 1px solid #ecedf1;
  background: white;
  bottom: -65px;
  left: 50%;
  margin-left: -25px;
}

blockquote p.clients-words {
    font-size: 14px;
}
span.clients-name {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}


/*==================================================end testimonial css===========================================*/


/*================================================== logo css===========================================*/
.sitelogo
{
	width:60px;
	height:60px;
	
}
.credit
{
	margin-left: 38%;
}
.privacy
{
	margin-top: 13px;
}

li .icon
{
	height:20px;
	width:20px;
}
/*==================================================end logo css===========================================*/

/*====================================================our team==================================================*/
.avatar
{
	 margin-left: 89px;
	width:100px;
}
/*====================================================our team==================================================*/
/*====================================================testimonia==================================================*/

blockquote
{
	width:350px;height: 260px;
}

/*====================================================testimonia==================================================*/
/*====================================================feature==================================================*/
.content1
{
	font-size:14px;
	margin-left:0px;
}
/*====================================================feature==================================================*/

/*====================================================about us===========================================*/

.about
{
	 font-size: 16px;
    margin-left: 0;
    margin-top: 15px;
}

.aboutimg
{
	height:400px;
	width:100%;
}
/*========================================about us==================================================*/

.blogcont
{ 
	margin-left:0px;
}

.blogimg1
{
	width:100%;
	height:200px;
	
}


.more
{
	margin-left:0px;
}


/*----------------------------------This CSS is For Logout Drop Box start------------------------------------*/
.navbar-login
{
    width: 400px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
.profile-image-div
{
	height:140px;
}
.profile-image
{
	height: 120px;
    width: 100px;
}
.navigation-menu .navbar-nav .dropdown li a
{
	padding:10px;
}
.navigation-menu .navbar-nav .dropdown li a:hover {
    background: #58BD36;
    color: #fff;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.nav .dropdown li a:focus, .nav .dropdown li a:hover {
    color: #fff;
}


.blogimgs
{
	width:80%;
	/* height:100%; */
}

.media-heading {
    margin-top: 20px !important;
    margin-bottom: 5px;
	
}


.blogimg
{
	width:100%;
	/* height:100%; */
}

.homecon
{
	color:white;
}

.bimgs
{
	width:100%;
	height:230px;
	margin-top: 20px;
}

.head
{
	margin-top: 26px;
}

.date-comments
{
	margin-top:20px;
}

.page
{
	margin-top:20px;
}
.all
{
	text-align:center;
}
/*----------------------------------/This CSS is For Logout Drop Box end------------------------------------*/
.service
{
    height: 160px !important;
    width: 100%;
}
.testimonial{
    text-align: center;
    margin: 0 15px;
}
.testimonial .description{
    padding: 15px;
    margin: 0;
    border-top: 4px solid #73438f;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #454646;
    line-height: 30px;
    position: relative;
}
.testimonial .description:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #73438f;
    margin: 0 auto;
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 40px auto;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .title{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0 0 10px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #333;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    background: #ccc;
    opacity: 1;
    transition: all 0.4s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    background: #73438f;
}







#testimonial-slider{
    overflow: hidden;
}
.testimonial{
    margin:0 15px;
}
.testimonial .testimonial-content{
    padding:15px ;
    background:#f1f1f1;
    border-radius: 0 40px 0 40px;
    border-bottom:3px solid #78c0a8;
}
.testimonial .description{
    font-size: 15px;
    color:#555;
    line-height:24px;
    margin-bottom:20px;
}
.testimonial .testimonial-title{
    font-size: 16px;
    font-weight: bold;
    line-height: 3px;
    color:#78c0a8;
    text-transform:capitalize;
    text-align:center;
    display: block;
    margin: 10px 0  0 0;
}
.testimonial .testimonial-title small{
    display: block;
    margin-top: 13px;
    font-size:14px;
}
.testimonial .pic{
    width: 83px;
    height: 90px;
    border-bottom: 4px solid #78c0a8;
    border-radius: 50%;
    margin: 15px auto;
}
.testimonial .pic img{
    width: 100%;
    height: auto;
    border: 1px solid #808080;
    border-radius:50%;
}
.owl-theme .owl-controls .owl-buttons div{
    position:relative;
    border-radius: 0;
    background:#807b87;
    padding: 7px 10px;
    transition: all 0.5s ease 0s;
}
.owl-theme .owl-controls .owl-buttons div:hover{
    background:#78c0a8;
}
.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next{
    position: absolute;
    top: 32%;
    opacity:0;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    transition: all 0.50s linear;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -7%;
}
.owl-theme .owl-controls .owl-buttons .owl-next{
    right: -7%;
    border-radius: 15px 0 0 15px;
}
.owl-carousel:hover .owl-buttons .owl-prev{
    opacity: 1;
    left:-5px;
}
.owl-carousel:hover .owl-buttons .owl-next{
    opacity: 1;
    right:-5px;
}
.owl-prev:before,
.owl-next:before{
    content: "\f053";
    font-family: 'FontAwesome';
    color: #fff;
}
.owl-next:before{
    content: "\f054";
}
.heading
{
	font-size:26px;
	margin-left:17px;
	font-weight:400;
}
/* @media screen and (min-width: 496px) */
/* { */
	/* .blogimg1  */
	/* { */
		/* margin-left:30px; */
	/* } */
/* } */

.navbar {
    position: relative;
    height: 50px;
    margin-bottom: 0px !important;
    /* border: 1px solid transparent; */
}
.navbar-toggle {
    float: left !important;
    margin-right: 0;
    margin-left: 8px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 7px;
	margin-top: 26px;
}

.navbar-default .navbar-collapse
{
	background-color:lightgray !important;
}
	
@media screen and (min-width: 940px)
{
.navbar-toggle {
    display: none !important;
}
}


@media screen and (min-width: 940px)
{
	.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
} 
}

@media screen and (min-width: 768px)
{
	.navbar-default .navbar-collapse
{
	background-color:lightgray !important;
}
}

.navbar-default {
    background-color: darkred;
    background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #e6e6e6 100%);
    background-image: -o-linear-gradient(top, #f3f3f3 0%, #e6e6e6 100%);
    background-image: linear-gradient(to bottom, #f3f3f3 0%, #e6e6e6 100%);
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(top, #f3f3f3, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #e6e6e6);
    background-image: -o-linear-gradient(top, #f3f3f3, #e6e6e6);
    background-image: linear-gradient(to bottom, lightgray, lightgray);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff3f3f3', endColorstr='#ffe6e6e6', GradientType=0);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); */
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

#myNavbar 
{
	overflow-x:hidden; 
}